<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  </head>

  <body>
    <div class="container">
      <!--clear and dark mode buttons-->
    <div class="control clear-btn pull-left" style="color: aquamarine;">
      My Todo List<br>
      v1.0
    </div>
    <div class="control clear-btn pull-right">
      <button class="btn  btn-info"><span class="fa fa-trash"></span></button>
    </div>
    <div class="control dark-mode-theme">
      <button type="button" class="btn btn-info"> <i class="fas fa-lightbulb"></i> <span>Dark</span> Mode</button>
    </div>
    <!--List Heading and input form-->
    <form class="form add-form" style="clear:both;margin-top: 60px;">
      <div class="input-icon">
        <input type="text" class="input-box" placeholder="I have to.." required/>
      </div>
        <span><button type="submit" class="add-btn btn glyphicon glyphicon-arrow-down"></button></span>
    </form>
    <!-- incomplete tasks list -->
    <div class="add-items"></div>
    <ul class="list">
      <% for (const idx in items) { %>

        <li><%= items[idx] %><span class="delete-btn glyphicon glyphicon-trash"></span><span class="check-btn glyphicon glyphicon-ok"></span></li>
      <% } %>
    </ul>
<!-- Complete tasks list -->
    <ul class="completed-tasks-list">
    </ul>
  </div>

    <script src="script.js"></script>
  </body>
</html>
